.filter-div {
    border-top: 1px solid var(--grey);
    padding: 1rem 1rem; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    /* margin: 0rem 2.7rem; */
}

.link-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    opacity: 0.5;
    border-bottom: 1px solid white;
    min-width: 87px
}

.link-image-container:hover {
    opacity: 1;
    border-bottom: 1px solid black;
    transition: all 0.3s;

}

.links-img {
    width: 1.75rem;
    height: 1.75rem;
    object-fit: contain;
}

.links-label {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--font-grey);
}