.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}


.navbar-img {
    height: 2rem;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 1rem;
    border: 1px solid var(--grey);
    border-radius: 2rem;
    box-shadow: 0 1px 2px rgb(0 0 0 /8%), 0 4px 12px rgb(0 0 0 /5%);
}

.search-bar:hover {
    box-shadow: 0 1px 2px rgb(0 0 0 /12%), 0 4px 12px rgb(0 0 0 /8%);
    transition: all 0.2s;
    cursor: pointer;
}

.search-bar-text {
    font-size: 0.85rem;
    font-weight: 600;
    border-right: 1px solid var(--grey);
    padding-right: 0.5rem;
}

.search-bar-text3 {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--font-grey);
    padding-right: 0.5rem;
}

.search-bar-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme);
    padding: 0.25rem;
    border-radius: 50%;
    color: white
}

.profile-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.25rem;
}

.airbnb-your-home {
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 3rem;
}

.airbnb-your-home:hover {
    background-color: #f7f7f7
}

