.card-flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 1rem 3rem;
    flex-direction: column;
    gap: 1rem
}

.card-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 1rem;
}

.card-info-flex{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    align-items: center;
}

.card-rating {
    display: flex;
    /* justify-content: ; */
    align-items: center;

}